name: Validate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v3"
      - name: "Run hassfest validation"
        uses: "home-assistant/actions/hassfest@master"

  hacs: # https://github.com/hacs/action
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"

  tests:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - "3.10"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v3"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/requirements-test.txt
      - name: Check with RUFF
        run: |
          python3 -m ruff check custom_components/zcsmower --line-length=120
      - name: Lint with pydocstyle
        run: |
          pydocstyle custom_components/zcsmower
      - name: Lint with isort
        run: |
          isort custom_components/zcsmower
      - name: Run tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.zcsmower \
            --cov-report=xml \
            -o console_output_style=count \
            -p no:sugar \
            tests
